@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body{
  height: 100vh;
  background-color: burlywood;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.div_top{
  height: 10vh;
  width: 100%;
  margin-top: 5rem;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.div_top input{
  width: 14rem;
  border-radius: 10px;
  outline-width: none;
  border: none;
  height: 30px;
  padding-left: 2rem;
  font-size: 1.2rem;
}
.div_top button{
  width: 5rem;
  border-radius: 10px;
  outline-width: none;
  border: none;
  height: 30px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: burlywood;

}

.div_bottom{
  margin-top: 2rem;
  width: 80%;
}



.task{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}


.task_name_span{
  display: block;
  width: 70%;
  text-align: center;
}

.btn_remove{
  background-color: red;
  color: white;
  padding: 3px 10px;
  border: none;
  outline-width: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn_check{
  background-color: rgb(0, 255, 136);
  color: white;
  padding: 3px 10px;
  border: none;
  outline-width: none;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 1rem;
  margin-left: 1rem;
}


.line{
  text-decoration: line-through;
}